.titulo-lateral-left{
    width: 30%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--top-gradient-blue), var(--bottom-gradient-blue));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo-lateral-top-left{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;

}

.titulo-lateral-title-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

.titulo-lateral-seal-icon{
    width: 110px;
    height: 110px;
}

/* .titulo-lateral-start-text{
    color: var(--deep-blue-accent);
    font-weight: 700;
    font-family: var(--font-inter);
}

.titulo-lateral-text{
    color: var(--black);
    font-weight: 400;
    font-family: var(--font-inter);
} */

.titulo-lateral-title{
    color: var(--black);
    font-weight: lighter;
    font-family: var(--font-scada);
    font-size: 100px;
}

.titulo-lateral-phrase{
    color: var(--black);
    font-weight: 200;
    font-family: var(--font-inter);
    font-size: 44px;
    margin-top: 20px;
    text-align: center;
}