.titulo-lateral-left{
    width: 40%;
    min-height: 100vh;
    background-color: var(--side-login-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo-lateral-top-left{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;

}

.titulo-lateral-title-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

.titulo-lateral-seal-icon{
    width: 160px;
    height: 160px;
}

.titulo-lateral-start-text{
    color: var(--deep-blue-accent);
    font-weight: 700;
    font-family: var(--font-inter);
}

.titulo-lateral-text{
    color: var(--black);
    font-weight: 400;
    font-family: var(--font-inter);
}
