/* -----------------------------------------
   Containers and sections
----------------------------------------- */

.dropzone {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 700px;
    min-height: 360px;
    padding: 20px;

    text-align: center;

    background-color: #fafafa;
    border: 2px dashed #999;
    border-radius: 12px;

    cursor: pointer;
    transition: 0.2s ease;
}

.dropzone ul {
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 6px 10px;

    border-bottom: 1px solid #ddd;
    list-style: none;
}

/* -----------------------------------------
   UI elements
----------------------------------------- */

.remove-btn {
    color: #ff4d4d;
    font-size: 18px;

    background: transparent;
    border: none;

    cursor: pointer;
    transition: 0.2s;
}

/* -----------------------------------------
   States and feedback
----------------------------------------- */

.dropzone.dragging {
    background-color: #f0f0f0;
    border: 2px dashed #555;
}

.remove-btn:hover {
    color: #cc0000;
}
