.estatisticas-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 64px;
}

.estatisticas-selector-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 25%;
    align-items: center;

}

.estatisticas-selector-row p{
    font-size: 26px;
    font-weight: 500;
}

.estatisticas-filter-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
    align-items: center;
}

.estatisticas-filters{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.estatisticas-filter-row p{
    font-size: 26px;
    font-weight: 500;
}