.login-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-right{
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 200px 40px;
}

.login-center{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 26px;
    padding-top: 80px;
}

.login-button{
    background: var(--transparent-grayish-blue);
    border: none;
    border-radius: 25px;
    padding: 3px;
    cursor: pointer;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
    align-self: flex-end;  
}

.login-home-icon{
    width: 25px;
    height: 25px;
    scale: 1.1;
}

.login-content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 0px 22px;
    min-height: 42px;

    color: var(--black);
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-inter);
}

.login-submit-button{
    background-color: var(--button-dark-blue);
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
    border: none;
    color: var(--white);
}

.login-bottom{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

.text-to-cadastro{
    font-size: 20px;
    font-family: var(--font-inter);
}

.redirect-to-cadastro{
    color: var(--deep-blue-accent);
}

.login-field-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login-field-label {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--black);
}

.login-text-field {
  width: 100%;
  height: 50px;

  border: 1px solid var(--black);
  border-radius: 4px;
  outline: none;

  padding: 0 14px;

  font-size: 16px;
  font-family: var(--font-inter);

  background-color: var(--white);
  color: var(--black);

  box-sizing: border-box;
}

.forgot-password{
    align-self: flex-end;
    color: var(--deep-blue-accent);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-inter);
}