.cadastro-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

/* Icons */
.home-icon{
    width: 25px;
    height: 25px;
    scale: 1.1;
}

.eye-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%); 

  background: none;
  border: none;
  cursor: pointer;
  
}

.eye-button svg {
  width: 20px;
  height: 20px;
  
  color: var(--black);
}

.asterisk{
  margin-left: 10px;
}

.asterisk.hidden {
    width: 8px;
    height: 12px;
    
    fill: none;
}

.asterisk.visible {
    width: 8px;
    height: 12px;
    
    fill: var(--red);
}

/* buttons */
.sign-in-content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 0px 22px;
    min-height: 42px;

    color: var(--black);
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-inter);
}

.sign-in-button{
    background: var(--transparent-grayish-blue);
    border: none;
    border-radius: 25px;
    padding: 3px;
    cursor: pointer;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
    align-self: flex-end;  
}

.sign-in-submit-button{
    background-color: var(--button-dark-blue);
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
    border: none;
    color: var(--white);
}


/* text fields */

.field-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field-label {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--black);
}

.label-with-asterisk {
    display: flex;
    align-items: baseline;
    max-height: 21px;
    gap: 4px;
}

.text-field {
  width: 100%;
  height: 50px;

  border: 1px solid var(--black);
  border-radius: 4px;
  outline: none;

  padding: 0 14px;

  font-size: 16px;
  font-family: var(--font-inter);

  background-color: var(--white);
  color: var(--black);

  box-sizing: border-box;
}

.input-wrapper {
  position: relative;

}

.text-field.with-icon {
  padding-right: 45px; 
}


/* text links */
.text-to-login{
    font-size: 20px;
}

.redirect-to-login{
    color: var(--deep-blue-accent);
    border-bottom: 2px solid var(--deep-blue-accent);
}


/* positions */

.right{
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 120px 40px;
}

.sign-in-bottom{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

.sign-in-center{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 16px;
}


/* error messages */
.text-confirm-password.visible {
    font-size: 18px;
    color: var(--red);
}

.text-confirm-password.hidden {
    display: none;
}

.text-password{
    font-size: 18px;
    color: var(--red);
}