/* -----------------------------------------
   Layout and wrappers
----------------------------------------- */

.header {
  width: 100%;
  padding: 8px 64px;
  background-color: var(--background-off-white);
  box-sizing: border-box;
}

/* -----------------------------------------
   Containers and sections
----------------------------------------- */

.header-elements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--bar-light-blue);
  padding: 5px 50px 10px 50px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 70px;
}

/* -----------------------------------------
   UI elements
----------------------------------------- */

.header-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.header-title {
  font-size: 2.5rem;
  font-family: var(--font-scada);
  font-weight: 500;
}

.header-link {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.header-button {
  background: var(--transparent-grayish-blue);
  border: none;
  border-radius: 14px;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-icon, .home-icon, .info-icon {
  width: 24px;
  height: 24px;
  fill: none;
  display: block;
  flex-shrink: 0;
}